@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

.index-1 {
  position: relative;
  z-index: 1; }

.index-2 {
  position: relative;
  z-index: 2; }

.index-3 {
  position: relative;
  z-index: 3; }

.index-4 {
  position: relative;
  z-index: 4; }

.index-5 {
  position: relative;
  z-index: 5; }

.h3-text-section {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #1E40AF; }

.h1-text-section {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #1D1D1D;
  margin-bottom: 3%; }

.navbar {
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  font-size: 18px; }

.nav-item {
  margin-left: 10%; }

.color-black {
  color: #1D1D1D; }

.color-white {
  color: #ffffff; }

.bg-black {
  background-color: #000000; }

.btn-reka {
  background-color: #1E40AF;
  border-radius: 20px;
  font-size: 18px;
  width: 190px;
  height: 56px;
  color: white;
  border: none; }
  .btn-reka:active {
    background-color: #122669; }

.p-reka-1 {
  padding-left: 10%;
  padding-right: 10%; }

.p-reka-2 {
  padding-top: 5%; }

.black-out {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 168px;
  position: absolute;
  background-color: black;
  top: 0;
  z-index: 1; }

.title-reka {
  width: 479px;
  height: 216px;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  animation: none; }

.reka-para {
  width: 594px;
  height: 132px;
  font-size: 18px;
  line-height: 33.48px;
  font-weight: 400;
  text-align: justify; }

.btn-single {
  width: 294px;
  height: 56px;
  background: #1E40AF;
  box-shadow: 0px 4px 30px 5px #030B27;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  border: none;
  font-weight: 600; }
  .btn-single:active {
    background-color: #122669; }

.btn-join {
  width: 202px;
  height: 56px;
  background: #292929;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  border: none; }
  .btn-join:active {
    background-color: #111111; }

.new {
  background: #1E40AF;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: white;
  text-align: center;
  padding: 2px 8px;
  margin-left: 5%; }

.text-down-1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #1D1D1D; }

.text-down-2 {
  font-size: 10px;
  line-height: 15px;
  color: #A0A0A0; }

.music-dropdown {
  border: none;
  width: 304px;
  height: 252px;
  border-radius: 20px; }
  .music-dropdown .music-nav {
    width: 80%;
    height: 90px;
    margin: 0 auto;
    border-radius: 20px; }
    .music-dropdown .music-nav:hover {
      background-color: #EEF2FF; }
    .music-dropdown .music-nav .logo-spotify {
      width: 52px;
      height: 52px;
      border-radius: 50%; }
    .music-dropdown .music-nav .logo-ytmusic {
      width: 52px;
      height: 52px; }
    .music-dropdown .music-nav .spotisfy {
      position: absolute;
      left: 39%;
      top: 21%; }
      .music-dropdown .music-nav .spotisfy .text-down-2 {
        margin-top: -5%; }
    .music-dropdown .music-nav .spotisfy-2 {
      top: 64%; }
      .music-dropdown .music-nav .spotisfy-2 .text-down-2 {
        margin-top: -5%; }

.event-dropdown {
  border: none;
  width: 427px;
  height: 282px;
  border-radius: 20px; }
  .event-dropdown .event-nav {
    width: 90%;
    height: 108px;
    border-radius: 20px;
    margin: 0 auto; }
    .event-dropdown .event-nav:hover {
      background-color: #EEF2FF; }
    .event-dropdown .event-nav div .text-down-1 span {
      background-color: #1E40AF;
      font-size: 9px;
      font-weight: 700;
      color: white;
      border-radius: 5px;
      padding: 0.5% 2%;
      margin-left: 3%; }
    .event-dropdown .event-nav div .text-down-2 {
      margin-top: -2%; }

.reka-dropdown {
  width: 575px;
  height: 398px;
  border: none;
  border-radius: 20px; }
  .reka-dropdown div {
    width: 95%;
    margin: 0 auto; }
    .reka-dropdown div div {
      width: 253px; }
      .reka-dropdown div div li .box {
        width: 100%;
        height: 108px;
        border-radius: 20px;
        padding: 9% 15%; }
        .reka-dropdown div div li .box:hover {
          background-color: #EEF2FF; }
        .reka-dropdown div div li .box .text-down-1 span {
          background-color: #1E40AF;
          font-size: 9px;
          font-weight: 700;
          color: white;
          border-radius: 5px;
          padding: 1% 5%;
          margin-left: 4%; }
        .reka-dropdown div div li .box .text-down-2 {
          margin-top: -4%; }

.content-box {
  margin: auto;
  width: 1300px;
  height: 495px;
  border: none;
  border-radius: 30px;
  background-color: #F6F6F6; }

.section-1 {
  display: flex;
  height: 800px; }
  .section-1 .content-1 {
    position: relative;
    width: 50%; }
    .section-1 .content-1 .text {
      margin-left: 20%; }
  .section-1 .content-2 {
    position: relative;
    width: 50%;
    overflow: hidden; }
    .section-1 .content-2 img {
      width: 1022px;
      height: 1532px;
      position: relative;
      margin-top: 5.6%;
      margin-left: -10%; }

.section-2 {
  margin-top: 3%; }
  .section-2 .content-box {
    background-color: #1E40AF;
    height: 710px; }

.section-3 {
  margin-top: 5%; }
  .section-3 .content-box {
    height: 501px; }
    .section-3 .content-box .video-box {
      margin-left: 5%;
      padding-top: 5%;
      width: 1171px;
      height: 90%; }
      .section-3 .content-box .video-box .video {
        margin: auto;
        width: 559px;
        height: 354px;
        border: none;
        border-radius: 30px;
        background-color: #1E40AF;
        display: inline-block; }

.section-4 {
  margin-top: 5%; }
  .section-4 .content-box {
    height: 371px; }
    .section-4 .content-box .storydev {
      border: none;
      width: 788px;
      height: 371px;
      border-radius: 30px;
      background: linear-gradient(120.64deg, #33004D 31.4%, #A90D1C 86.05%);
      display: inline-block; }
      .section-4 .content-box .storydev img {
        width: 350px;
        height: 67.29px; }
      .section-4 .content-box .storydev p {
        width: 633px;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        color: white; }
        .section-4 .content-box .storydev p span {
          font-weight: 400; }
    .section-4 .content-box .right {
      display: inline-block;
      margin-left: 5%; }
      .section-4 .content-box .right p {
        width: 390px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #1D1D1D;
        text-align: center; }
      .section-4 .content-box .right .btn-storydev {
        width: 385px;
        height: 59px;
        border: none;
        border-radius: 30px;
        background: linear-gradient(91.55deg, #34014E 21.44%, #B42B38 89.25%);
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: white;
        text-align: center; }
        .section-4 .content-box .right .btn-storydev:active {
          background: linear-gradient(91.55deg, #1c0825 21.44%, #501319 89.25%); }

.section-5 {
  margin-top: 5%; }
  .section-5 .content-box {
    margin: auto;
    width: 1300px;
    height: 371px;
    border: none;
    border-radius: 30px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    background-color: #F6F6F6; }
    .section-5 .content-box .soundworks {
      display: inline-block;
      border: none;
      width: 788px;
      height: 371px;
      border-radius: 30px;
      background: linear-gradient(120.64deg, #3366DB 31.4%, #00174D 86.05%); }
      .section-5 .content-box .soundworks img {
        width: 350px;
        height: 60px; }
      .section-5 .content-box .soundworks p {
        width: 633px;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        color: white; }
        .section-5 .content-box .soundworks p span {
          font-weight: 400; }
    .section-5 .content-box .right {
      display: inline-block;
      margin-left: 5%; }
      .section-5 .content-box .right p {
        width: 390px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #1D1D1D;
        text-align: center; }
      .section-5 .content-box .right .btn-storyworks {
        width: 385px;
        height: 59px;
        border: none;
        border-radius: 30px;
        background: linear-gradient(91.55deg, #0D3DAB 21.44%, #00174D 89.25%);
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: white;
        text-align: center; }
        .section-5 .content-box .right .btn-storyworks:active {
          background: linear-gradient(91.55deg, #05112e 21.44%, #040a1a 89.25%); }
  .section-5 .megareka-content {
    width: 100%;
    height: 482px;
    background-color: black;
    margin-top: 7%;
    display: flex; }
    .section-5 .megareka-content .left-panel {
      width: 40%;
      height: 100%;
      overflow: hidden; }
      .section-5 .megareka-content .left-panel img {
        position: relative;
        margin-top: 12%;
        width: 690px;
        height: 482px; }
    .section-5 .megareka-content .right-panel {
      width: 60%;
      height: 100%; }
      .section-5 .megareka-content .right-panel .right-content {
        margin-top: 6%; }
        .section-5 .megareka-content .right-panel .right-content h2 {
          font-weight: 700;
          font-size: 36px;
          font-style: italic;
          line-height: 54px;
          color: white;
          margin-bottom: 3%; }
          .section-5 .megareka-content .right-panel .right-content h2 span {
            padding-left: 2%; }
        .section-5 .megareka-content .right-panel .right-content p {
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
          color: white;
          width: 791px;
          margin-bottom: 7%; }
        .section-5 .megareka-content .right-panel .right-content .btn-megareka {
          border: 1px solid rgba(0, 0, 0, 0);
          border-radius: 30px;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          text-align: center;
          color: white;
          background: linear-gradient(91.55deg, #0D3DAB 21.44%, #00174D 89.25%); }
          .section-5 .megareka-content .right-panel .right-content .btn-megareka:active {
            background: linear-gradient(91.55deg, #05112e 21.44%, #040a1a 89.25%); }

.section-6 {
  margin-top: 5%;
  width: 100%; }
  .section-6 .section-6-content {
    width: 100%;
    height: 803px;
    background: url(../../assets/Mask_Group.png);
    background-repeat: no-repeat;
    background-size: 100%; }
    .section-6 .section-6-content .sized-box {
      height: 73%; }
    .section-6 .section-6-content button {
      border: none;
      position: relative;
      width: 286px;
      height: 56px;
      background: inherit;
      backdrop-filter: blur(50px);
      border-radius: 40px;
      box-shadow: inset 0 0 2000px rgba(30, 64, 175, 0.71);
      color: white;
      font-size: 18px;
      line-height: 27px; }
      .section-6 .section-6-content button:active {
        background: rgba(8, 15, 41, 0.71);
        backdrop-filter: blur(10px); }
  .section-6 .build {
    padding: auto;
    margin: auto;
    width: 1300px;
    height: 487px;
    background: #404EED;
    border: none;
    border-radius: 50px;
    margin-top: 5%;
    overflow: hidden; }
    .section-6 .build #content-text {
      position: relative;
      margin: auto;
      padding: auto;
      text-align: center;
      padding-top: 3%;
      z-index: 2; }
      .section-6 .build #content-text h2 {
        font-size: 48px;
        font-weight: 900;
        line-height: 72px;
        color: white;
        padding-bottom: 3%; }
      .section-6 .build #content-text p {
        width: 1109px;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        color: white;
        padding-bottom: 3%; }
        .section-6 .build #content-text p span {
          font-weight: 700;
          font-style: italic; }
      .section-6 .build #content-text .button-content #join_discord {
        width: 280px;
        height: 66px;
        background: white;
        border: none;
        border-radius: 45px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: black;
        margin-right: 2%; }
        .section-6 .build #content-text .button-content #join_discord span {
          margin-right: 7%; }
        .section-6 .build #content-text .button-content #join_discord:active {
          background: #a1a1a1; }
      .section-6 .build #content-text .button-content #support_reka {
        width: 244px;
        height: 66px;
        background: black;
        border: none;
        border-radius: 45px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: white; }
        .section-6 .build #content-text .button-content #support_reka:active {
          background: #424242; }
    .section-6 .build #vector {
      position: relative;
      margin-top: -4.1%;
      z-index: 1; }

.section-7 {
  margin: auto;
  margin-top: 5%; }
  .section-7 .content-box {
    height: 620px; }
    .section-7 .content-box .partner {
      display: flex;
      flex-wrap: wrap; }
      .section-7 .content-box .partner .box {
        width: 406px;
        height: 285px;
        border-radius: 30px;
        background-color: #E9E9E9;
        margin-bottom: 3%;
        margin-right: 2.1%;
        transition: 1s; }
        .section-7 .content-box .partner .box img {
          width: 202px;
          height: 40px;
          border-radius: 0; }
        .section-7 .content-box .partner .box p:nth-child(2) {
          font-weight: 600;
          font-size: 24px;
          line-height: 36px; }
        .section-7 .content-box .partner .box p:nth-child(3) {
          font-weight: 400;
          font-size: 18px;
          line-height: 27px; }
        .section-7 .content-box .partner .box:hover {
          background: linear-gradient(119.97deg, #EDDBFF 6.09%, #A8CDF9 125.86%); }

.section-8 {
  margin: auto;
  margin-top: 5%; }
  .section-8 .content-box {
    height: 620px; }
    .section-8 .content-box .partner {
      display: flex;
      flex-wrap: wrap; }
      .section-8 .content-box .partner .box {
        width: 406px;
        height: 285px;
        border-radius: 30px;
        background-color: #E9E9E9;
        margin-bottom: 3%;
        margin-right: 2.1%;
        transition: 1s; }
        .section-8 .content-box .partner .box .meganikom {
          width: 200px;
          height: 40.75px;
          border-radius: 0; }
        .section-8 .content-box .partner .box .agera {
          width: 101.35px;
          height: 38px;
          border-radius: 0; }
        .section-8 .content-box .partner .box .spotify {
          width: 38px;
          height: 38px;
          border-radius: 50%; }
        .section-8 .content-box .partner .box .yt-music {
          width: 202px;
          height: 41px;
          border-radius: 0; }
        .section-8 .content-box .partner .box .bagbeat {
          width: 50.25px;
          height: 38px;
          border-radius: 0; }
        .section-8 .content-box .partner .box p:nth-child(2) {
          font-weight: 600;
          font-size: 24px;
          line-height: 36px; }
        .section-8 .content-box .partner .box p:nth-child(3) {
          font-weight: 400;
          font-size: 18px;
          line-height: 27px; }
        .section-8 .content-box .partner .box:hover {
          background: linear-gradient(119.97deg, #EDDBFF 6.09%, #A8CDF9 125.86%); }

footer {
  width: 100%;
  height: 430px;
  background-color: black;
  margin-top: 15%; }
  footer .credit {
    display: flex;
    margin-left: 10%;
    padding-top: 3.5%; }
    footer .credit img {
      width: 134px;
      height: 66px;
      margin-right: 15%; }
    footer .credit .content-text {
      display: flex;
      width: 1000px; }
      footer .credit .content-text #text_credit {
        flex-grow: 2; }
        footer .credit .content-text #text_credit h2 {
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          color: white; }
        footer .credit .content-text #text_credit a {
          text-decoration: none; }
          footer .credit .content-text #text_credit a p {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #898989; }
            footer .credit .content-text #text_credit a p:hover {
              color: white; }
            footer .credit .content-text #text_credit a p:active {
              color: white; }
  footer .copyright {
    width: 100%;
    height: 67px;
    background-color: black;
    position: relative;
    top: 17%; }
    footer .copyright p {
      padding-top: 1.2%;
      text-align: center;
      font-size: 18px;
      line-height: 27px;
      color: #898989;
      font-weight: 500; }
      footer .copyright p br {
        display: none; }
      footer .copyright p .credit-bottom:hover {
        color: white;
        cursor: pointer; }
      footer .copyright p .credit-bottom:active {
        color: white;
        cursor: pointer; }

@media (max-width: 720px) {
  body {
    overflow-x: hidden; }

  .nav-item {
    margin-left: 0; }

  .dropdown-menu {
    height: auto;
    width: auto;
    margin-left: -10%; }
    .dropdown-menu .row {
      display: block; }
    .dropdown-menu .spotisfy {
      margin-top: 11%;
      margin-left: -10%; }
    .dropdown-menu .spotisfy-2 {
      margin-top: 5%; }

  .reka-dropdown {
    margin-left: -25%; }

  .section-1 {
    width: 100%;
    height: 550px;
    display: block; }
    .section-1 .content-1 {
      position: relative;
      padding-top: 20%;
      width: 100%;
      margin-left: 0; }
      .section-1 .content-1 .text {
        margin-left: 0; }
        .section-1 .content-1 .text .typewriter {
          margin-bottom: -40%; }
          .section-1 .content-1 .text .typewriter .title-reka {
            width: 90%;
            font-size: 160%;
            line-height: 36px; }
        .section-1 .content-1 .text .reka-para {
          width: 100%;
          font-size: 90%;
          line-height: 22px; }
        .section-1 .content-1 .text .btn-section-1 .btn-single {
          width: 177px;
          height: 32px;
          font-size: 80%;
          border-radius: 10px; }
        .section-1 .content-1 .text .btn-section-1 .btn-join {
          width: 117px;
          height: 32px;
          font-size: 80%;
          margin-left: -4%;
          border-radius: 10px; }
    .section-1 .content-2 {
      position: relative;
      width: 100%;
      height: 72%;
      margin-top: -75%;
      margin-left: 0;
      opacity: 0.3; }
      .section-1 .content-2 img {
        margin-top: 0;
        margin-left: 0;
        width: 120%;
        height: 800px; }

  .section-2 h3 {
    width: 100%;
    font-size: 120%;
    margin: auto;
    line-height: 32px;
    margin-bottom: 5%; }
  .section-2 h1 {
    width: 90%;
    font-size: 150%;
    margin: auto;
    line-height: 32px; }
  .section-2 .content-box {
    width: 90%;
    height: 300px;
    margin-top: 5%; }

  .section-3 h3 {
    width: 100%;
    font-size: 120%;
    margin: auto;
    line-height: 32px;
    margin-bottom: 5%; }
  .section-3 h1 {
    width: 90%;
    font-size: 150%;
    margin: auto;
    line-height: 32px; }
  .section-3 .content-box {
    width: 90%;
    height: 200px;
    margin-top: 5%; }
    .section-3 .content-box .video-box {
      width: 90%; }
      .section-3 .content-box .video-box .video {
        width: 41%;
        height: 165px; }

  .section-4 h3 {
    width: 100%;
    font-size: 120%;
    margin: auto;
    line-height: 32px;
    margin-bottom: 5%; }
  .section-4 h1 {
    width: 90%;
    font-size: 150%;
    margin: auto;
    line-height: 32px; }
  .section-4 .content-box {
    margin-top: 5%;
    width: 90%;
    height: 600px;
    flex-direction: column;
    display: block; }
    .section-4 .content-box .storydev {
      width: 100%;
      height: 350px; }
      .section-4 .content-box .storydev img {
        width: 100%;
        height: 45px; }
      .section-4 .content-box .storydev p {
        width: 100%;
        font-size: 16px;
        text-align: center; }
    .section-4 .content-box .right {
      padding: 0;
      width: 100%;
      padding-top: 10%; }
      .section-4 .content-box .right p {
        margin-left: -15%;
        font-size: 20px;
        text-align: center; }
      .section-4 .content-box .right .btn-storydev {
        width: 90%; }

  .section-5 h3 {
    width: 100%;
    font-size: 120%;
    margin: auto;
    line-height: 32px;
    margin-bottom: 5%; }
  .section-5 h1 {
    width: 90%;
    font-size: 150%;
    margin: auto;
    line-height: 32px; }
  .section-5 .content-box {
    margin-top: 5%;
    width: 90%;
    height: 600px;
    flex-direction: column;
    display: block; }
    .section-5 .content-box .soundworks {
      width: 100%;
      height: 350px; }
      .section-5 .content-box .soundworks img {
        width: 100%;
        height: 45px; }
      .section-5 .content-box .soundworks p {
        width: 100%;
        font-size: 16px;
        text-align: center; }
    .section-5 .content-box .right {
      padding: 0;
      width: 100%;
      padding-top: 10%; }
      .section-5 .content-box .right p {
        margin-left: -15%;
        font-size: 20px;
        text-align: center; }
      .section-5 .content-box .right .btn-storyworks {
        width: 90%; }
  .section-5 .megareka-content {
    height: 300px;
    display: block; }
    .section-5 .megareka-content .left-panel {
      display: none; }
    .section-5 .megareka-content .right-panel {
      width: 100%; }
      .section-5 .megareka-content .right-panel .right-content {
        margin: 0px 5%; }
        .section-5 .megareka-content .right-panel .right-content h2 {
          font-size: 20px; }
          .section-5 .megareka-content .right-panel .right-content h2 span img {
            width: 20px;
            height: 20px; }
        .section-5 .megareka-content .right-panel .right-content p {
          width: 100%;
          font-size: 15px;
          text-align: justify; }
        .section-5 .megareka-content .right-panel .right-content .btn-megareka {
          width: 100%;
          height: 50px;
          font-size: 16px; }

  .section-6 h3 {
    width: 100%;
    font-size: 120%;
    margin: auto;
    line-height: 32px;
    margin-bottom: 5%; }
  .section-6 h1 {
    width: 90%;
    font-size: 150%;
    margin: auto;
    line-height: 32px; }
  .section-6 .section-6-content {
    margin-top: 5%;
    height: 180px; }
    .section-6 .section-6-content .sized-box {
      display: none; }
    .section-6 .section-6-content button {
      margin-top: 30%;
      width: 50%;
      height: 40px; }
  .section-6 .build {
    width: 100%; }
    .section-6 .build #content-text {
      margin: 0px 3%; }
      .section-6 .build #content-text h2 {
        font-size: 20px; }
      .section-6 .build #content-text p {
        font-size: 15px;
        width: 100%; }
      .section-6 .build #content-text .button-content {
        display: block; }
        .section-6 .build #content-text .button-content #join_discord {
          width: 70%;
          height: 50px;
          font-size: 20px;
          margin-bottom: 5%; }
        .section-6 .build #content-text .button-content #support_reka {
          width: 70%;
          height: 50px;
          font-size: 20px; }

  .section-7 {
    height: auto; }
    .section-7 h3 {
      width: 100%;
      font-size: 120%;
      margin: auto;
      line-height: 32px;
      margin-bottom: 5%; }
    .section-7 h1 {
      width: 90%;
      font-size: 150%;
      margin: auto;
      line-height: 32px;
      margin-bottom: 5%; }
    .section-7 .content-box {
      width: 100%;
      height: auto; }
      .section-7 .content-box .partner {
        width: 100%;
        height: auto; }
        .section-7 .content-box .partner .box {
          margin: 0;
          padding: 0;
          width: 44%;
          height: 150px;
          margin-left: 3%;
          margin-right: 3%;
          margin-bottom: 5%; }
          .section-7 .content-box .partner .box img {
            width: 100px;
            height: 20px;
            margin: 0;
            padding: 0;
            margin-left: -17%; }
          .section-7 .content-box .partner .box p:nth-child(2) {
            font-size: 10px;
            line-height: 12px;
            margin: 0;
            padding: 0;
            margin-left: -17%; }
          .section-7 .content-box .partner .box p:nth-child(3) {
            font-size: 10px;
            line-height: 12px;
            width: 120%;
            margin: 0;
            padding: 0;
            margin-left: -17%; }

  .section-8 {
    height: auto; }
    .section-8 h3 {
      width: 100%;
      font-size: 120%;
      margin: auto;
      line-height: 32px;
      margin-bottom: 5%; }
    .section-8 h1 {
      width: 90%;
      font-size: 150%;
      margin: auto;
      line-height: 32px;
      margin-bottom: 5%; }
    .section-8 .content-box {
      width: 100%;
      height: auto; }
      .section-8 .content-box .partner {
        width: 100%;
        height: auto; }
        .section-8 .content-box .partner .box {
          margin: 0;
          padding: 0;
          width: 44%;
          height: 150px;
          margin-left: 3%;
          margin-right: 3%;
          margin-bottom: 5%; }
          .section-8 .content-box .partner .box img {
            margin-left: -25%; }
          .section-8 .content-box .partner .box .meganikom {
            width: 125px;
            height: 25px; }
          .section-8 .content-box .partner .box .agera {
            width: 75px;
            height: 25px; }
          .section-8 .content-box .partner .box .spotify {
            width: 25px;
            height: 25px; }
          .section-8 .content-box .partner .box .yt-music {
            width: 125px;
            height: 25px; }
          .section-8 .content-box .partner .box .bagbeat {
            width: 35px;
            height: 25px; }
          .section-8 .content-box .partner .box img {
            margin: 0;
            padding: 0;
            margin-left: -17%; }
          .section-8 .content-box .partner .box p:nth-child(2) {
            font-size: 10px;
            line-height: 12px;
            margin: 0;
            padding: 0;
            margin-left: -17%; }
          .section-8 .content-box .partner .box p:nth-child(3) {
            font-size: 10px;
            line-height: 12px;
            width: 120%;
            margin: 0;
            padding: 0;
            margin-left: -17%; }

  footer {
    height: auto; }
    footer .credit {
      width: 100%;
      height: auto;
      display: block;
      padding: 0;
      margin: 0; }
      footer .credit img {
        width: 100px;
        height: 50px;
        margin: auto;
        padding: auto;
        margin-left: 35%;
        margin-bottom: 5%;
        margin-top: 5%; }
      footer .credit .content-text {
        width: 100%;
        flex-wrap: wrap; }
        footer .credit .content-text #text_credit {
          position: relative;
          margin-right: 16%;
          margin-left: 6%;
          margin-bottom: 10%; }
          footer .credit .content-text #text_credit h2 {
            font-size: 18px;
            margin-bottom: 0; }
          footer .credit .content-text #text_credit a p {
            font-size: 12px;
            line-height: 10px; }
    footer .copyright {
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto; }
      footer .copyright p {
        padding: auto;
        margin: auto; }
        footer .copyright p br {
          display: block; }
        footer .copyright p .px-4 {
          display: none; } }
@media (min-width: 720px) and (max-width: 996px) {
  body {
    overflow-x: hidden; }

  .spotisfy {
    margin-top: 6%;
    margin-left: -17%; }

  .spotisfy-2 {
    margin-top: 1%; }

  .section-1 {
    display: block; }
    .section-1 .content-1 {
      width: 100%; }
      .section-1 .content-1 .text {
        margin: 0; }
    .section-1 .content-2 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin-top: -68%;
      opacity: 0.3; }

  .section-2 {
    width: 100%;
    height: auto; }
    .section-2 .content-box {
      width: 95%;
      height: 500px; }

  .section-3 {
    width: 100%;
    height: auto; }
    .section-3 .content-box {
      width: 95%;
      height: 390px; }
      .section-3 .content-box .video-box {
        width: 100%; }
        .section-3 .content-box .video-box .video {
          width: 42%;
          height: 300px; }

  .section-4 {
    width: 100%;
    height: auto; }
    .section-4 .content-box {
      width: 95%;
      height: auto;
      display: block;
      flex-direction: column; }
      .section-4 .content-box .storydev {
        display: block;
        width: 100%; }
      .section-4 .content-box .right {
        display: block;
        height: 200px;
        padding: auto;
        margin: auto; }
        .section-4 .content-box .right p {
          margin: 0;
          margin: auto; }
        .section-4 .content-box .right button {
          margin: 0;
          margin-left: 25%; }

  .section-5 {
    width: 100%;
    height: auto; }
    .section-5 .content-box {
      width: 95%;
      height: auto;
      display: block;
      flex-direction: column; }
      .section-5 .content-box .soundworks {
        display: block;
        width: 100%; }
      .section-5 .content-box .right {
        display: block;
        height: 200px;
        padding: auto;
        margin: auto; }
        .section-5 .content-box .right p {
          margin: 0;
          margin: auto; }
        .section-5 .content-box .right button {
          margin: 0;
          margin-left: 25%; }
    .section-5 .megareka-content {
      width: 100%;
      height: auto; }
      .section-5 .megareka-content .left-panel {
        display: none; }
      .section-5 .megareka-content .right-panel {
        padding-bottom: 6%;
        margin: 0;
        margin: auto; }
        .section-5 .megareka-content .right-panel .right-content h2 {
          text-align: center; }
        .section-5 .megareka-content .right-panel .right-content p {
          width: 100%;
          text-align: center; }
        .section-5 .megareka-content .right-panel .right-content button {
          margin-left: 6%; }

  .section-6 .section-6-content {
    width: 100%;
    height: 400px; }
    .section-6 .section-6-content .sized-box {
      display: none; }
    .section-6 .section-6-content button {
      margin-top: 30%; }
  .section-6 .build {
    width: 90%; }
    .section-6 .build #content-text {
      margin-top: 5%; }
      .section-6 .build #content-text p {
        width: 100%; }

  .section-7 {
    height: auto; }
    .section-7 .content-box {
      width: 90%;
      height: auto; }
      .section-7 .content-box .partner {
        width: 100%; }
        .section-7 .content-box .partner .box {
          width: 47%;
          margin: 0;
          margin-left: 3%;
          margin-bottom: 3%; }

  .section-8 {
    height: auto; }
    .section-8 .content-box {
      width: 90%;
      height: auto; }
      .section-8 .content-box .partner {
        width: 100%; }
        .section-8 .content-box .partner .box {
          width: 47%;
          margin: 0;
          margin-left: 3%;
          margin-bottom: 3%; }

  footer {
    height: auto; }
    footer .credit {
      width: 100%;
      height: auto;
      display: block;
      padding: 0;
      margin: 0; }
      footer .credit img {
        margin: auto;
        padding: auto;
        margin-left: 40%;
        margin-bottom: 5%;
        margin-top: 5%; }
      footer .credit .content-text {
        width: 100%;
        flex-wrap: wrap; }
        footer .credit .content-text #text_credit {
          position: relative;
          margin-right: 15%;
          margin-left: 15%;
          margin-bottom: 10%; }
    footer .copyright {
      margin: 0;
      padding: 0;
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
