@mixin textProperty($weight, $size, $line, $color){
    font-weight: $weight;
    font-size: $size;
    line-height: $line;
    color: $color;
}

@mixin boxProperty($width, $height, $border, $radius, $bg){
    width: $width;
    height: $height;
    border: $border;
    border-radius: $radius;
    background: $bg;
}

body{
    background-color: #E5E5E5;
}

section{
    .content{
        @include boxProperty(785px, auto, none, none, none);
        margin: auto;
        margin-top: 5%;
        margin-bottom: 10%;
        h1:nth-child(1){
            @include textProperty(700, 48px, 72px, #171717);
            text-align: center;
        }
        #ket{
            width: 660px;
            text-align: center;
            margin: auto;
            @include textProperty(400, 18px, 27px, #282828);
            margin-bottom: 10%;
            span{ font-weight: 700; }
        }
        .box-payment{
            margin: auto;
            padding-top: 4%;
            @include boxProperty(783px, auto, none, 30px, white);
        }
    }
}